@model IEnumerable<UkrainianEnterprises.Models.EnterpriseViewModel>
@{
    ViewBag.Title = "Enterprise List";
}

<h2>Enterprise List</h2>

@foreach(var enterprise in Model)
{
    <label for="@enterprise.ID">@enterprise.ID</label>
    <input id="@enterprise.ID" type="text" value="@enterprise.Title" />
}

